{% extends "index.html" %}

{# Menu #}
{% block menu_1 %}
	关于
{% endblock %}
{% block menu_2 %}
	服务
{% endblock %}
{% block menu_3 %}
	展示
{% endblock %}
{% block menu_4 %}
	价格
{% endblock %}
{% block menu_5 %}
	联系
{% endblock %}

{# what is #}
{% block whatis_title %}
	关于
{% endblock %}

{% block whatis_title_1 %}
	公司介绍twig
{% endblock %}
{% block whatis_info_1 %}
	AIRESEAU（法国）是一家提供信息咨询、软件开发、互联网解决方案及技术支持的公司，核心团队拥有近十年的市场经验和相关服务经验，其中网络部门致力于为企业及个人提供网站建设等服务。
{% endblock %}

{% block whatis_title_2 %}
	服务介绍
{% endblock %}
{% block whatis_info_2 %}
	AIRESEAU（法国）是一家提供信息咨询、软件开发、互联网解决方案及技术支持的公司，核心团队拥有近十年的市场经验和相关服务经验，其中网络部门致力于为企业及个人提供网站建设等服务。
{% endblock %}

{# use it #}
{% block useit_title_1 %}
	企业为何要有自己的网站
{% endblock %}
{% block useit_info_11 %}
	企业 · 客户 · 成本 · 交流
{% endblock %}
{% block useit_info_12 %}
	·-· 随时随地帮助企业接待客户，以达到拓展业务的需要。</br></br>·-· 客户能了解更多企业的相关信息，满足其个性化需求，从而形成一种更加高效快捷的服务方式。</br></br>·-· 通过网站优化行为，在节省成本的同时还能给企业带来巨大商机。</br></br>·-· 官网作为企业之间交流合作的媒介，更加便捷地制定企业接下来的方针政策。
{% endblock %}
{% block useit_button_1 %}
	示例
{% endblock %}
{% block useit_button_2 %}
	实例
{% endblock %}

{% block useit_title_2 %}
	提供的服务
{% endblock %}
{% block useit_info_21 %}
	设计 · 制作 · 维护 · 售后
{% endblock %}
{% block useit_info_22 %}
	·-· 网页设计：提供静态网页、动态网页以及更为贴心的定制服务</br></br>·-· 网站制作：网站建设、自适应网站设计、E-shop电商网站设计</br></br>·-·	网站维护：定期托管、协助运营</br></br>·-·	售后服务：修改BUG、技术培训、内容更新修改
{% endblock %}

{% block useit_title_3 %}
	我们的团队
{% endblock %}
{% block useit_info_31 %}
	专职 · 技术 · 经验
{% endblock %}
{% block useit_info_32 %}
	·-· 专职项目经理：网站项目的工作繁杂、琐碎、专业，为了让我们的客户拥有轻松的项目实施体验，我们采用专职的项目经理负责制，为您全程跟进项目，确保项目顺利进行。</br></br>·-· 产品技术：团队拥有近十年的市场经验或网站建设经验，精通.NET、ASP、PHP等动态网页交互技术开发，配合UI、UE设计高手，结合企业的实际需要，确保提供优质的客户技术支持。</br></br>·-· 经验丰富：超过10余项网站成功案例
{% endblock %}

{# screenshot #}
{% block screenshot_title %}
	网站类型
{% endblock %}

{% block screenshot_title_0 %}
	简介
{% endblock %}
{% block screenshot_title_1 %}
	静态网页
{% endblock %}
{% block screenshot_info_11 %}
	每个页面内容都需要保存在服务器上，属于实实在在的文件内容，所以页面内容相对稳定，也更容易被搜索引擎检索
{% endblock %}
{% block screenshot_price %}
	€ 起
{% endblock %}
{% block screenshot_more %}
	查看详情
{% endblock %}

{% block screenshot_info_12 %}
	具有GIF格式的动画、FLASH、翻滚字母等视觉上的动态效果
{% endblock %}

{% block screenshot_info_13 %}
	不具备搜索等功能
{% endblock %}
{% block screenshot_info_14 %}
	每个页面内容都需要保存在服务器上，</br>属于实实在在的文件内容，</br>所以页面内容相对稳定，</br>也更容易被搜索引擎检索</br></br>具有GIF格式的动画、FLASH、</br>翻滚字母等视觉上的动态效果</br></br>不具备搜索等功能</br>
{% endblock %}

{% block screenshot_title_2 %}
	动态网页
{% endblock %}
{% block screenshot_info_21 %}
	以数据库技能为基础，大大下降了网站维护的工作量
{% endblock %}
{% block screenshot_info_22 %}
	具有用户注册、登陆、在线调查、用户管理、订单管理等功能
{% endblock %}
{% block screenshot_info_23 %}
	可以跟搜索引擎进行交互功能
{% endblock %}
{% block screenshot_info_24 %}
	以数据库技能为基础，</br>大大下降了网站维护的工作量</br></br>具有用户注册、登陆、在线调查、</br>用户管理、订单管理等功能</br></br>可以跟搜索引擎进行交互功能</br>
{% endblock %}

{# credits #}
{% block credits_title %}
	价格
{% endblock %}

{% block credits_title_1 %}
	静态网页
{% endblock %}
{% block credits_title_10 %}
	价格
{% endblock %}
{% block credits_info_11 %}
	<span>特点</span>
    <strong>扁平化</strong></br>
    <strong>自适应</strong></br>
    <strong>纯静态</strong></br>
{% endblock %}
{% block credits_info_12 %}
	<span>推荐适用</span>
    <strong>展示型</strong></br>
    <strong>创意型</strong></br>
{% endblock %}
{% block credits_info_13 %}
	<span>适用群体</span>
    <div style="margin: 4% 0;">
    <strong>个人、餐饮、协会等</strong></div>
{% endblock %}

{% block credits_title_2 %}
	贴心定制
{% endblock %}
{% block credits_info_21 %}
	<span>特点</span>
    <strong>个性化</strong></br>
    <strong>针对性</strong></br>
    <strong>专业咨询</strong></br>
{% endblock %}
{% block credits_info_22 %}
	<span>推荐适用</span>
    <strong>创意型</strong></br>
    <strong>B2B、B2C</strong></br>
{% endblock %}
{% block credits_info_23 %}
	适用群体
{% endblock %}
{% block credits_info_24 %}
	联系我们
{% endblock %}

{% block credits_title_3 %}
	动态网页
{% endblock %}
{% block credits_info_31 %}
	<span>特点</span>
    <strong>易维护</strong></br>
    <strong>多功能</strong></br>
    <strong>可交互</strong></br>
{% endblock %}
{% block credits_info_32 %}
	<span>推荐适用</span>
    <strong>标准型</strong></br>
    <strong>功能型</strong></br>
{% endblock %}
{% block credits_info_33 %}
	适用群体
{% endblock %}
{% block credits_info_34 %}
	B2B、B2C等
{% endblock %}

{% block credits_notice %}
	如果您需要更多信息或者其他的服务请点击下方按钮下载细节
{% endblock %}
{% block credits_notice_btn %}
	下载
{% endblock %}

{# contact #}
{% block contact_title %}
	联系我们
{% endblock %}
{% block contact_name %}
	姓名
{% endblock %}
{% block contact_email %}
	邮箱
{% endblock %}
{% block contact_message %}
	信息
{% endblock %}

{% block contact_address %}
	公司地址
{% endblock %}
{% block contact_phone %}
	电话
{% endblock %}
{% block contact_share %}
	分享
{% endblock %}